<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>instrator</title>

   
    <link rel="stylesheet" href="/nav/instructorNav.css">

    <link rel="stylesheet" href="/assets/css/instructor/instructor.css">

  </head>
  <body>
 
    <%- include('../partials/instructornav') %>

    <div class="body"><br>
        
      <div class= "body"  align = "center" ><h1>Makeup Exam Request Student Applications</h1> </div>
      <br>
      <div class= "body"  align = "center" ></div>
        
        
      <form method="POST" action="/makeuprequestinst" >
     <select name="applicants"  id="applicants">
        
       
       
        <% if (students !== 0) { %>
            <% students.forEach( student => { %>
            
              
              <option   value=<%= student.StudentRequest %>><%= student.StudentRequest %></option>
              
            
            <% }) %>
         
          <% } else { %>
          
          <p> No student makeup exam request Applicants </p>
         
          <%  } %>
          <div align = "center" class="class1"><input type="submit" name="bt" value="submit"  /> </div>
      </select>
        </form>
      
      <br>   
      <br>
      <br>
      
      
      <div align="center" ><h3><b> Reason for missing exam</b></h3>
         <br>
         <% if(page) { %>
          <h1 id="wrong"><%= form[0].Reason %></h1>
        <% } %>
          <p> </p>

          <br>
          <br>
      <div align="center"> <h3><b> Supporting attachement files </b></h3>
          <br>
         
          <br>
          <br>
          <% if(page) { %>
               <p>
                <a href="" download= <%= form[0].AttachmentFilePath %> ><%= form[0].AttachmentFilePath %></a>
              </p>
          <% } %> </a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <% if(succes) { %>
            <p id="wrong2">Decision saved</p>
          <% } %>
          <% if(error) { %>
            <p id="wrong2">Error with updating status</p>
          <% } %>
          <form method="POST" action="/end" >
      <div align = "center" > <input  name= "sub" value ="Approve" type = "submit"> </div>
      <div align = "center" > <input  name= "sub"  value ="Disapprove" type = "submit"> </div>
      </form>
  
  
          
    </header>


  
  </body>
</html>
