<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
    <link rel="stylesheet" href="/nav/studentNav.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>


      #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 1000px;
        margin : auto;
      }
      
      
      #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
      #customers tr:nth-child(even){background-color: #f2f2f2;}
      
      #customers tr:hover {background-color: #ddd;}
      
      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #2b6777;
        color: white;
      }
      p
      {
          color:red;
          text-align:center;
      }
      
      </style>

  </head>
  <body>
    
    
      
      <%- include('../partials/studentnav') %>
     <br>
   
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/student/viewclub.css">
    <title>view</title>
</head>
<body>
  <table id="customers">
    <tr>
      <th>Club Name</th>
      <th>Foundation Date</th>
      <th>Email</th>
      <th>Goal</th>
      <th>Vission</th>
      <th>Mission</th>
    </tr>
    
    <% if (club !== 0) { %>
       <% club.forEach( club => { %>
       <tr>
         <td> <%= club.ClubName %>  </td>
         <td> <%= club.FoundationDate %>  </td>
         <td> <%= club.Email %>  </td>
         <td> <%= club.Goal %>  </td>
         <td> <%= club.Vision%>  </td>
         <td> <%= club.Mission%>  </td>
       </tr>
       <% }) %>
     </table>
     <% } else { %>
     </table>
     <p> There is no club in the university at the moment </p>
    
     <%  } %>
  
 </table>
    
</body> 
</html>


    <footer class="footer">
      
      <div class="container">
        
        <div class="footer_bottom"><small class="end">Copyright © 2021 by Mekdim. All rights reserved.</small> </div>
        
    </div>
      
    </footer>



    <script>

      var icon =document.getElementById("icon");
      icon.onclick= function(){
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")){
          meklog.src="/assets/images/logo3.png";
        
        } else{
          meklog.src="/assets/images/logo.png";
          
        }
      
      }
      
        </script>
  </body>
</html>
