
<!--Natnael Tedros - ATR/0119/11-->>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Grade Report Approval</title>
    <link rel="stylesheet" href="/gradeApproval/HeaderFooter.css">
    <link rel="stylesheet" href="/gradeApproval/GradeReportApproval.css">

  </head>
  <body>
    <header class="header">
      <img class="logo" src="/gradeApproval/logo.png" alt="logo" >
      <nav class="nav_links">
        
        
        <div class="dropdown">
            <button><a href="admin.html" class="home">Home</a></button>
            <div class="account">
              <button>Account</button>
              <ul>
                <li><a href="AccountActivation.html">Activation</a></li>
                <li><a href="AddUser.html">Add User</a></li>
                
              </ul>
            </div>
            <div class="approve">
              <button>Approve</button>
              <ul>
                <li><a href="GradeReportApproval.html">Grade</a></li>
                <li><a href="Clubs.html">Clubs</a></li>
                <li><a href="LostId.html">Lost ID</a></li>
                <li><a href="ClearanceApproval.html">Clearance</a></li>
                <li><a href="Dormitory.html">Dormitory</a></li>
                
              </ul>
            </div>

            

              

              <div class="other">
                <button>Other</button>
                <ul>
                  <li><a href="#">Change Theme</a></li>
                  <li><a href="#">Change Password</a></li>
                </ul>
              </div>

              <div class="logout">
                <button>Log Out</button>
                
              </div>

          </div>


      </nav>
     
    </header>
    <div class="body">
      <div class="courseSearch">
        <h1>Student Grade Report</h1><br>
          <p>Input the course name:</p><br>
        
          <form action = "/GradeReportApproval" method="POST">
            <label for="">CourseName:</label>
            
            <input type="text"  name="CourseName" required><br><br>
            
            <input class="submit" type="submit" id="submit1">
          </form>
        <br>
      </div>
      <div class="gradeList">
        <h2>Grades of Students:</h2><br>
        <p>List of students and their corresponding grades for the course inputted:</p><br>
        <form action="/GradeReportApproval" method="post">
          <table id="listTable">
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Status</th>
                <th>Approve...Disapprove</th>
            </tr>
            <tr>
               
                <td><%- locals.student0||'   ' %></td>
                <td><%- locals.rslt0||'   ' %></td>
                <td><%- locals.approve0||'   ' %></td>
                <td><input type="radio" name="apCb1" id="appr" value="approve">.....................<input type="radio" name="apCb1" value="disapprove"></td>

            </tr>
            <tr>
              <td><%- locals.student1||'   ' %></td>
              <td><%- locals.rslt1||'   ' %></td>
              <td><%- locals.approve1||'   ' %></td>
              <td><input type="radio" name="apCb2" id="appr" value="approve"> ....................<input type="radio" name="apCb2" value="disapprove"></td>
            </tr>
              </table><br>
              <input class="submit" type="submit">
        </form>
      </div>
        
    </div>


    <footer class="footer">
      
      <div class="container">
        
        <div class="footer_bottom"><small class="end">Copyright © 2021 by Mekdim. All rights reserved.</small> </div>
        
    </div>
      
    </footer>
  </body>
</html>