<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Student</title>
	<link rel="stylesheet" href="/nav/studentNav.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" id="applicationStylesheet" href="/assets/css/student/grade.css">
</head>
<body>
	
<%- include('../partials/studentnav') %>
	

	
	
	
		
	<div id="Grade_Report2">
		<a class = "sublink" href ="gradereport">Grade Report</a>
	</div>
	<div id="Grade_Change">
		<a class = "sublink" href ="gradechange">Grade Change</a>
	</div>
	
    
    <div ><table class ="grades-table">
       <thead><tr>
          <th>No</th>
          <th>Credit Hour</th>
          <th>ECTS</th>
          <th>Grade</th>
          <th>Assesment</th>
        </tr></thead>
      <tbody> 
        <% if (report!== 0) { %>
          <% report.forEach( report=> { %>
        <tr>
          <td><%= report.NAME%></td>
          <td><%= report.CreditHour%></td>
          <td><%= report.ECTS%></td>
          <td><%= report.result%></td>
          <!-- <td><a href = "/assesment"><button type="button" class = "button">Assesment</button></a></td> -->
        </tr>
        <% }) %>
        </tbody>
      </table>   <% } else { %>
      </table>
      <p> There is no club in the university at the moment </p>
     
      <%  } %>
      </div>

	  <script>

		var icon =document.getElementById("icon");
		icon.onclick= function(){
		  document.body.classList.toggle("dark-theme");
		  if (document.body.classList.contains("dark-theme")){
			meklog.src="/assets/images/logo3.png";
		  
		  } else{
			meklog.src="/assets/images/logo.png";
			
		  }
		
		}
		
		  </script>

</body>

</html>